{include file="common:meta" /}

<title>管理员列表 - 管理员列表 - TXCMS_V2</title>
<meta name="keywords" content="">
<meta name="description" content="">
</head>
<body>
{include file="common:header" /}

{include file="common:menu" /}

<section class="Hui-article-box">
    <nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> <a href="{:url('index/index')}">首页</a>
        <span class="c-gray en">&gt;</span>
        用户管理
        <span class="c-gray en">&gt;</span>
        登录日志 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a> </nav>
    <div class="Hui-article">
        <article class="cl pd-20">
            <div class="table-responsive">
                <table class="table table-border table-bordered table-bg">
                    <a style="float: right;" class="btn btn-secondary radius" href="{:url('login_log/clearLoginLog')}">清理七天前日志</a>
                    <thead>
                    <tr>
                        <th scope="col" colspan="9">登陆日志</th>
                    </tr>
                    <tr class="text-c">
                        <th width="40">ID</th>
                        <th width="150">用户账号</th>
                        <th width="150">订单金额</th>
                        <th width="150">订单号</th>
                        <th width="90">回调地址</th>
                        <th width="90">登陆时间</th>
                        <th width="90">操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    {volist name="data" id="vo"}
                    <tr class="text-c">
                        <td>{$vo.id}</td>
                        <td>{$vo.user_id}</td>
                        <td>{$vo.amount}</td>
                        <td>{$vo.trade_no}</td>
                        <td>{$vo.callback_url}</td>
                        <td>{$vo.create_time}</td>
                        <td><a href="http://pay.619q.cn/pay/index/index?order_id={$vo.id}">充值</a></td>
                    </tr>
                    {/volist}
                    </tbody>
                </table>
            </div>
        </article>
    </div>
</section>

{include file="common:footer" /}

<!--请在下方写此页面业务相关的脚本-->
{load href="__STATIC__/admin/lib/My97DatePicker/4.8/WdatePicker.js"}
{load href="__STATIC__/admin/lib/datatables/1.10.0/jquery.dataTables.min.js"}
{load href="__STATIC__/admin/lib/laypage/1.2/laypage.js"}
</body>
</html>